<!-- done, integrated with css and img -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deep Vision - Home</title>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/Fevicon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/linericon/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% include 'head.html' %}
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.jpg') }}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{{ url_for('feature') }}">Feature</a></li> 
              <li class="nav-item"><a class="nav-link" href="{{ url_for('pricing') }}">Pricing</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
            </ul>

            <ul class="navbar-right">
              <li class="nav-item">
                <button class="button button-header bg"><a href="{{ url_for('signin') }}">Sign In</button></a>
              </li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <main class="side-main">
    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/banner/hero-banner.png') }}" alt="">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Power Your Work with AI</h1>
              <p>Deep Vision provides customized state-of-the-art computer vision models that fit pefectly with your unique business needs.Just bring a few examples of labled images and let Deep Vision do the hard work for you</p>
              <a class="button bg" href="{{ url_for('register') }}">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->

    <!--================ Feature section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">How Deep Vision works</h2>
           <!--<p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam quis nulla pede mi commodo tristique nam hac  luctus torquent</p> -->
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-package"></i>
                </span>
                <h3 class="card-feature__title">Upload</h3>
                <p class="card-feature__subtitle">Create your account and upload your own labeled images</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-mouse-alt"></i>
                </span>
                <h3 class="card-feature__title">Train</h3>
                <p class="card-feature__subtitle">Use your labeled images to teach Deep Vision the concepts you care about</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-headphone-alt"></i>
                </span>
                <h3 class="card-feature__title">Evaluate</h3>
                <p class="card-feature__subtitle">Use simple REST API calls to quickly tag images with your new customized model</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Feature section end =================-->      
    
    <!--================ about section start =================-->      
    <section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-md-5 mb-5 mb-md-0">
            <div class="about__content">
              <h2>Providing AI Solutions for Your Bussiness</h2>
              <p>Deep Vision is a suite of deep learning products that enables companies with limited machine learning expertise employees to train high-quality models specific to their business needs.</p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="about__img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/home/about.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ about section end =================-->      
    
    <!--================ Offer section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Features We Offer</h2>
          <p class="section-intro__subtitle">We want to make Deep Vision accessible to everyone who needs it. The features that Deep Vision offers would make this goal possible.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-pencil-alt"></i>
                  </span>
                  <h4>Simple</h4>
                  <p>Upload your data and set your goals, Deep Vision will do everything else for you.</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-ruler-pencil"></i>
                  </span>
                  <h4>Customize</h4>
                  <p>Customized models and training processes are provided only for you.</p>
                </div>
              </div>
            </div>

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-cut"></i>
                  </span>
                  <h4>Flexible</h4>
                  <p>Only a small size of training set is needed, choose the amount of data you prefer for training.</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-light-bulb"></i>
                  </span>
                  <h4>Train with Ease</h4>
                  <p>Only a phone and three steps are needed to start your training process.</p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="offer-single__img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/home/offer.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Offer section end =================-->      

    <!--================ Solution section start =================-->      
    <section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="{{ url_for('static', filename='img/home/solution.png') }}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>Simple Solutions for Complex Visual Problems</h2>
              <p>Deep Vision provides a simple graphical user interface (GUI) for you to train, evaluate, improve, and deploy deep learning models based on your own data. You’re only a few minutes away from your own custom machine learning model.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Solution section end =================-->      

    <!--================ Pricing section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Choose Your Plan</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Normal</h4>
                <h1 class="card-pricing__price"><span>$</span>25.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>5 Projects</li>
                <li><i class="ti-check"></i>10 GB Storage </li>
                <li><i class="ti-check"></i>Basic Support</li>
                <li class="unvalid"><i class="ti-close"></i>Collaboration</li>
                <li class="unvalid"><i class="ti-close"></i>Reports and anlytics</li>
              </ul>
              <div class="card-pricing__footer">
                  <a class="button button-light" href="{{ url_for('signin') }}" onclick="gtag('event', 'click', {'event_category' : 'plan',
                      'event_label' : 'basic_plan', 'value' : 10 });"> Buy Now </button></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Advanced</h4>
                <h1 class="card-pricing__price"><span>$</span>55.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>30 Projects</li>
                <li><i class="ti-check"></i>100 GB Storage</li>
                <li><i class="ti-check"></i>Priority Support</li>
                <li><i class="ti-check"></i>Collaboration</li>
                <li><i class="ti-check"></i>Reports and anlytics</li>
              </ul>
              <div class="card-pricing__footer">
                  <a class="button button-light" href="{{ url_for('signin') }}" onclick="gtag('event', 'click', {'event_category' : 'plan',
                      'event_label' : 'advanced_plan', 'value' : 10 });"> Buy Now </button></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Ultimate</h4>
                <h1 class="card-pricing__price"><span>$</span>155.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>Unlimited Projects</li>
                <li><i class="ti-check"></i>Unlimited Storage</li>
                <li><i class="ti-check"></i>Priority Support</li>
                <li><i class="ti-check"></i>Collaboration</li>
                <li><i class="ti-check"></i>Reports and anlytics</li>
              </ul>
              <div class="card-pricing__footer">
                  <a class="button button-light" href="{{ url_for('signin') }}" onclick="gtag('event', 'click', {'event_category' : 'plan',
                      'event_label' : 'ultimate_plan', 'value' : 10 });"> Buy Now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Pricing section end =================-->
  </main>


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Top Products</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Reputation</a></li>
						<li><a href="#">Power Tools</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>
				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-xl-4 col-md-8 mb-4 mb-xl-0 single-footer-widget">
					<h4>Newsletter</h4>
					<p>You can trust us. we only send promo offers,</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
							 required="" type="email">
							<button class="click-btn btn btn-default">subscribe</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom row align-items-center text-center text-lg-left">
				<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Deep Vision &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-dribbble"></i></a>
					<a href="#"><i class="fab fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->

  <script src="{{ url_for('static', filename='vendors/jquery/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
